<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <context-param>
    <param-name>encode</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  
  <!-- 配置监听 -->
  <listener>
    <listener-class>cn.tedu.listener.MyServletContextListener</listener-class>
  
  </listener>
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.tedu.filter.EncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>cn.tedu.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.tedu.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>cn.tedu.web.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.tedu.web.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckVerifyCodeServlet</servlet-name>
    <servlet-class>cn.tedu.web.AjaxCheckVerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.tedu.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.tedu.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageAddProdServlet</servlet-name>
    <servlet-class>cn.tedu.backend.web.ManageAddProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllProdServlet</servlet-name>
    <servlet-class>cn.tedu.web.ShowAllProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdImgServlet</servlet-name>
    <servlet-class>cn.tedu.web.ProdImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageShowAllProdServlet</servlet-name>
    <servlet-class>cn.tedu.backend.web.ManageShowAllProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageUpdateProdServlet</servlet-name>
    <servlet-class>cn.tedu.backend.web.ManageUpdateProdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageDelProdServlet</servlet-name>
    <servlet-class>cn.tedu.backend.web.ManageDelProdServlet</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/AjaxCheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckVerifyCodeServlet</servlet-name>
    <url-pattern>/AjaxCheckVerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAddProdServlet</servlet-name>
    <url-pattern>/ManageAddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllProdServlet</servlet-name>
    <url-pattern>/ShowAllProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdImgServlet</servlet-name>
    <url-pattern>/ProdImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageShowAllProdServlet</servlet-name>
    <url-pattern>/ManageShowAllProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUpdateProdServlet</servlet-name>
    <url-pattern>/ManageUpdateProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageDelProdServlet</servlet-name>
    <url-pattern>/ManageDelProdServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
